body {
  margin: 0;
}

/* Variables =======================================
  ================================================== */
$brownCake: #422117;
$lightOrangeCake: rgb(255, 214, 137);
$lightBlueCake: rgb(115, 216, 216);
$yellowPhoto: #feffdc;
$bluePhoto: #dcfffb;
$lightRedCake: #7d4635;

/* Header ==========================================
	================================================== */

.header {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  background-color: $brownCake;
  padding: 20px 20px 0;

  @media only screen and (min-width: 790px) {
    flex-direction: row;
  }

  &__link {
    color: white;
  }

  &__menu {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover {
      color: $lightOrangeCake;
    }
  }
}

/* Hero-Header =====================================
	================================================== */

.hero-header {
  background-color: $lightBlueCake;
  position: relative;
  color: white;
  padding: 10vw;
  text-align: center;
}

/* Sections ========================================
  ================================================== */
section > h2 {
  margin-bottom: 2em;
  font-weight: bold;
  text-align: center;
}

.about {
  background-color: $yellowPhoto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10vh 0;

  p {
    width: 70%;
  }

  img {
    background-color: $lightBlueCake;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}

.cakes {
  background-color: $bluePhoto;
  text-align: center;
  padding: 10vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .cake__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: 790px) {
      &:nth-child(even) {
        flex-direction: row;
      }
      &:nth-child(odd) {
        flex-direction: row-reverse;
      }

      align-items: center;
    }
  }

  .cake__photo {
    background-color: $lightOrangeCake;
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }

  .cake__description {
    margin: 0 1em;
    max-width: 60vw;
  }
}

.contact {
  padding: 10vh;
  background-color: $brownCake;
  color: $lightOrangeCake;
}

.contact__title {
  color: white;
}

.contact__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;

  input,
  textarea {
    border-radius: 10px;
    background-color: $lightRedCake;
    border: 2px dashed orange;
    padding: 15px;
    color: white;
  }
}

.contact__button {
  border-radius: 10px;
  background-color: rgb(247, 197, 105);
  color: rgb(105, 80, 34);
  width: 100%;
  padding: 10px 0;
  border: 1px solid $lightRedCake;
  font-size: 1.2em;
  font-weight: bold;

  &:hover {
    background-color: orange;
    cursor: pointer;
  }
}
